NEXT_PUBLIC_SUPABASE_URL= https://lolfycmpjhbdyeyrwnbv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxvbGZ5Y21wamhiZHlleXJ3bmJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5NjEzNDEsImV4cCI6MjA3MzUzNzM0MX0.3Z4OymNlmWvdK3az6OWg-bzRek797XDNTdpFUoOzt3o
SUPABASE_ORG_SLUG= ugsuzwgdndwxwhtfpnvw
NEXT_PUBLIC_B2_ENDPOINT= s3.us-east-005.backblazeb2.com
NEXT_PUBLIC_B2_BUCKET= acdfcd68a764582d978b0718
SUPABASE_SERVICE_ROLE_KEY= 
B2_KEY_ID= cfd8748d7b78
B2_APP_KEY= 005cfd8748d7b780000000002
VERCEL_TOKEN= 
